.container {
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    width: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    
}

.titulo {
    /* centrar */
    justify-content: center;
    align-items: center;
    margin-left: 40px;

}

.botonAgregar {
    position: inherit;
    margin-left: 40px;
}

/* Estilos para el contenedor principal */
.login-container {
    width: 100%;
    max-width: 400px;
    
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

/* Estilos para el formulario */
h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

label {
    margin-right: 10px;
    width: 100px;
    text-align: right;
    font-weight: bold;
}

input {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 91%;
}

/* Estilos para botones */
button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

button:hover {
    background-color: #0056b3;
}

.error-text {
    color: red;
    margin-top: 10px;
    text-align: center;
}

/* Estilos para el modal de carga */
.loading-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.loading-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.loading-spinner {
    width: 50px;
    height: 50px;
    border: 6px solid rgba(0, 0, 0, 0.1);
    border-top: 6px solid #007bff;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

.loading-text {
    margin-top: 10px;
    font-size: 16px;
    color: #333;
}

/* Animación del círculo giratorio */
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.boton-arriba-izquierda {
    position: absolute; /* Posicionamiento absoluto para colocar en la esquina */
    top: 20px; /* Ajusta según sea necesario */
    left: 20px; /* Ajusta según sea necesario */
    width: auto; /* Puedes ajustar el ancho si no quieres que ocupe todo el espacio */
    margin-top: 0; /* Elimina el margen superior para que se alinee con la parte superior */
}